@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fallback-b1: hsl(318.46, 46.429%, 89.02%);
    --fallback-b2: hsl(318.46, 46.429%, 80.118%);
    --fallback-b3: hsl(318.46, 46.429%, 72.106%);

    --background: hsl(336, 42.857%, 48.039%);
    --foreground: hsl(343.64, 38.462%, 28.039%);

    --card: hsl(336, 42.857%, 48.039%);
    --card-foreground: hsl(318.46, 46.429%, 89.02%);

    --popover: hsl(336, 42.857%, 48.039%);
    --popover-foreground: hsl(318.46, 46.429%, 89.02%);

    --primary: hsl(353.23, 73.81%, 67.059%);
    --primary-foreground: hsl(353.23, 100%, 13.412%);

    --secondary: hsl(254.12, 86.441%, 76.863%);
    --secondary-foreground: hsl(254.12, 100%, 15.373%);

    --accent: hsl(181.41, 55.556%, 70%);
    --accent-foreground: hsl(181.41, 100%, 14%);

    --destructive: hsl(0, 72.222%, 50.588%);
    --destructive-foreground: hsl(0, 100%, 90.118%);

    /* --muted: hsl(220, 14.3%, 95.9%);
    --muted-foreground: hsl(220, 8.9%, 46.1%);

    --border: hsl(220, 13%, 91%);
    --input: hsl(220, 13%, 91%);
    --ring: hsl(224, 71.4%, 4.1%); */

    --radius: 2rem;
  }

  /* VALENTINE
  --a: hsl(181.41, 55.556%, 70%);
  --af: hsl(181.41, 55.556%, 56%);
  --ac: hsl(181.41, 100%, 14%);
  --b1: hsl(318.46, 46.429%, 89.02%);
  --b2: hsl(318.46, 46.429%, 80.118%);
  --b3: hsl(318.46, 46.429%, 72.106%);
  --bc: hsl(343.64, 38.462%, 28.039%);
  --er: hsl(0, 72.222%, 50.588%);
  --erc: hsl(0, 100%, 90.118%);
  --in: hsl(221.21, 83.193%, 53.333%);
  --inc: hsl(221.21, 100%, 90.667%);
  --n: hsl(336, 42.857%, 48.039%);
  --nc: hsl(318.46, 46.429%, 89.02%);
  --nf: hsl(336, 42.857%, 38.431%);
  --p: hsl(353.23, 73.81%, 67.059%);
  --pc: hsl(353.23, 100%, 13.412%);
  --pf: hsl(353.23, 73.81%, 53.647%);
  --s: hsl(254.12, 86.441%, 76.863%);
  --sc: hsl(254.12, 100%, 15.373%);
  --sf: hsl(254.12, 86.441%, 61.49%);
  --su: hsl(142.13, 76.216%, 36.275%);
  --suc: hsl(142.13, 100%, 87.255%);
  --wa: hsl(32.133, 94.619%, 43.725%);
  --wac: hsl(32.133, 100%, 8.7451%);

  // SYNTHWAVE
  --a: hsl(48, 89.041%, 57.059%);
  --ac: hsl(48, 100%, 11.412%);
  --af: hsl(48, 89.041%, 45.647%);
  --b1: hsl(253.85, 59.091%, 25.882%);
  --b2: hsl(253.85, 59.091%, 23.294%);
  --b3: hsl(253.85, 59.091%, 20.965%);
  --bc: hsl(260, 60%, 98.039%);
  --er: hsl(351.85, 73.636%, 56.863%);
  --erc: hsl(260, 60%, 98.039%);
  --in: hsl(199.13, 86.957%, 63.922%);
  --inc: hsl(257.45, 63.218%, 17.059%);
  --n: hsl(253.22, 60.825%, 19.02%);
  --nc: hsl(260, 60%, 98.039%);
  --nf: hsl(253.22, 60.825%, 15.216%);
  --p: hsl(320.73, 69.62%, 69.02%);
  --pc: hsl(320.73, 100%, 13.804%);
  --pf: hsl(320.73, 69.62%, 55.216%);
  --s: hsl(197.03, 86.592%, 64.902%);
  --sc: hsl(197.03, 100%, 12.98%);
  --sf: hsl(197.03, 86.592%, 51.922%);
  --su: hsl(168.1, 74.233%, 68.039%);
  --suc: hsl(257.45, 63.218%, 17.059%);
  --wa: hsl(48, 89.041%, 57.059%);
  --wac: hsl(257.45, 63.218%, 17.059%);
  */

  .dark {
    --fallback-b1: hsl(253.85, 59.091%, 25.882%);
    --fallback-b2: hsl(253.85 59.091% 23.294%);
    --fallback-b3: hsl(253.85 59.091% 20.965%);

    --background: hsl(253, 61%, 19%);
    --foreground: hsl(260, 60%, 98.039%);

    --card: hsl(253, 61%, 19%);
    --card-foreground: hsl(260, 60%, 98%);

    --popover: hsl(253, 61%, 19%);
    --popover-foreground: hsl(260, 60%, 98%);

    --primary: hsl(320.73, 69.62%, 69.02%);
    --primary-foreground: hsl(320.73, 100%, 13.804%);

    --secondary: hsl(197.03, 86.592%, 64.902%);
    --secondary-foreground: hsl(197.03, 100%, 12.98%);

    --accent: hsl(48, 89.041%, 57.059%);
    --accent-foreground: hsl(48, 100%, 11.412%);

    --destructive: hsl(351.85, 73.636%, 56.863%);
    --destructive-foreground: hsl(260, 60%, 98.039%);

    /* 
    --muted: hsl(197.03, 86.592%, 64.902%);
    --muted-foreground: hsl(197.03, 100%, 12.98%);
    
    --border: hsl(197.03, 86.592%, 64.902%);
   --input: hsl(197.03, 86.592%, 64.902%);
   --ring: hsl(197.03, 72.592%, 14.902%); */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-base-100 text-foreground;
  }
}
