@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 318.46 46.429% 89.02%; /* hsl(318.46, 46.429%, 89.02%) */
    --foreground: 343.64 38.462% 28.039%; /* hsl(343.64, 38.462%, 28.039%) */
    --primary: 353.23 73.81% 67.059%; /* hsl(353.23, 73.81%, 67.059%) */
    --primary-foreground: 353.23 100% 13.412%; /* hsl(353.23, 100%, 13.412%) */
    --secondary: 197.41 70.556% 70%; /* hsl(197.41, 70.556%, 70%) */
    --secondary-foreground: 181.41 100% 14%; /* hsl(181.41, 100%, 14%) */
    --accent: 254.12 86.441% 76.863%; /* hsl(254.12, 86.441%, 76.863%) */
    --accent-foreground: 254.12 100% 15.373%; /* hsl(254.12, 100%, 15.373%) */
    --destructive: 0 72.222% 50.588%; /* hsl(0, 72.222%, 50.588%) */
    --destructive-foreground: 0 100% 90.118%; /* hsl(0, 100%, 90.118%) */
    --info: 221.21 83.193% 53.333%; /* hsl(221.21, 83.193%, 53.333%) */
    --info-foreground: 221.21 100% 90.667%; /* hsl(221.21, 100%, 90.667%) */
    --warn: 32.133 94.619% 43.725%; /* hsl(32.133, 94.619%, 43.725%) */
    --warn-foreground: 32.133 100% 8.7451%; /* hsl(32.133, 100%, 8.7451%) */
    --success: 142.13 76.216% 36.275%; /* hsl(142.13, 76.216%, 36.275%) */
    --success-foreground: 142.13 100% 87.255%; /* hsl(142.13, 100%, 87.255%) */
    --muted: 318.46 46.429% 80.118%; /* hsl(318.46, 46.429%, 80.118%) */
    --muted-foreground: 343.64 38.462% 28.039%; /* hsl(343.64, 38.462%, 28.039%) */
    --card: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --card-foreground: 224 71.4% 4.1%; /* hsl(224, 71.4%, 4.1%) */
    --popover: 0 0% 100%; /* hsl(353.23, 73.81%, 67.059%) */
    --popover-foreground: 224 71.4% 4.1%; /* hsl(353.23, 100%, 13.412%) */
    --border: 318.46 46.429% 89.02%; /* hsl(318.46, 46.429%, 89.02%) */
    --input: 318.46 46.429% 89.02%; /* hsl(318.46, 46.429%, 89.02%) */
    --ring: 224 71.4% 4.1%; /* hsl(224, 71.4%, 4.1%) */

    --radius: 2rem;
  }

  .dark {
    --background: 253.85 59.091% 25.882%; /* hsl(253.85, 59.091%, 25.882%) */
    --foreground: 260 60% 98.039%; /* hsl(260, 60%, 98.039%) */
    --primary: 320.73 69.62% 69.02%; /* hsl(320.73, 69.62%, 69.02%) */
    --primary-foreground: 220.9 39.3% 11%; /* hsl(220.9, 39.3%, 11%) */
    --accent: 197.03 86.592% 64.902%; /* hsl(197.03, 86.592%, 64.902%) */
    --accent-foreground: 197.03 100% 12.98%; /* hsl(197.03, 100%, 12.98%) */
    --secondary: 48 89.041% 57.059%; /* hsl(48, 89.041%, 57.059%) */
    --secondary-foreground: 48 100% 11.412%; /* hsl(48, 100%, 11.412%) */
    --destructive: 351.85 73.636% 56.863%; /* hsl(351.85, 73.636%, 56.863%) */
    --destructive-foreground: 260 60% 98.039%; /* hsl(260, 60%, 98.039%) */
    --info: 199.13 86.957% 63.922%; /* hsl(199.13, 86.957%, 63.922%) */
    --info-foreground: 257.45 63.218% 17.059%; /* hsl(257.45, 63.218%, 17.059%) */
    --warn: 48 89.041% 57.059%; /* hsl(48, 89.041%, 57.059%) */
    --warn-foreground: 257.45 63.218% 17.059%; /* hsl(257.45, 63.218%, 17.059%) */
    --success: 168.1 74.233% 68.039%; /* hsl(168.1, 74.233%, 68.039%) */
    --success-foreground: 257.45 63.218% 17.059%; /* hsl(257.45, 63.218%, 17.059%) */
    --muted: 253.85 59.091% 20.965%; /* hsl(253.85, 59.091%, 20.965%) */
    --muted-foreground: 260 60% 98.039%; /* hsl(260, 60%, 98.039%) */
    --card: 224 71.4% 4.1%; /* hsl(224, 71.4%, 4.1%) */
    --card-foreground: 210 20% 98%; /* hsl(210, 20%, 98%) */
    --popover: 224 71.4% 4.1%; /* hsl(224, 71.4%, 4.1%) */
    --popover-foreground: 210 20% 98%; /* hsl(210, 20%, 98%) */
    --border: 253.85 59.091% 25.882%; /* hsl(253.85, 59.091%, 25.882%) */
    --input: 215 27.9% 16.9%; /* hsl(215, 27.9%, 16.9%) */
    --ring: 216 12.2% 83.9%; /* hsl(216, 12.2%, 83.9%) */
  }
}

.menu-transition {
  @apply transition-all duration-500;
}
.page-container {
  @apply mx-auto w-[90%] max-w-screen-xl;
}

@layer base {
  * {
    @apply border-border tracking-wider;
  }
  body {
    @apply bg-background text-foreground;
  }
}
