@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(318.46, 46.429%, 89.02%);
    --foreground: hsl(343.64, 38.462%, 28.039%);

    --primary: hsl(353.23, 73.81%, 67.059%);
    --primary-foreground: hsl(353.23, 100%, 13.412%);

    --secondary: hsl(197.41, 70.556%, 70%);
    --secondary-foreground: hsl(181.41, 100%, 14%);

    --accent: hsl(254.12, 86.441%, 76.863%);
    --accent-foreground: hsl(254.12, 100%, 15.373%);

    --destructive: hsl(0, 72.222%, 50.588%);
    --destructive-foreground: hsl(0, 100%, 90.118%);

    --info: hsl(221.21, 83.193%, 53.333%);
    --info-foreground: hsl(221.21, 100%, 90.667%);

    --warn: hsl(32.133, 94.619%, 43.725%);
    --warn-foreground: hsl(32.133, 100%, 8.7451%);

    --success: hsl(142.13, 76.216%, 36.275%);
    --success-foreground: hsl(142.13, 100%, 87.255%);

    --muted: hsl(318.46, 46.429%, 80.118%);
    --muted-foreground: hsl(343.64, 38.462%, 28.039%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(224, 71.4%, 4.1%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(224, 71.4%, 4.1%);

    --border: hsl(318.46, 46.429%, 89.02%);
    --input: hsl(318.46, 46.429%, 89.02%);
    --ring: hsl(224, 71.4%, 4.1%);

    --radius: 2rem;
  }

  .dark {
    --background: hsl(253.85, 59.091%, 25.882%);
    --foreground: hsl(260, 60%, 98.039%);

    --primary: hsl(320.73, 69.62%, 69.02%);
    --primary-foreground: hsl(220.9, 39.3%, 11%);

    --accent: hsl(197.03, 86.592%, 64.902%);
    --accent-foreground: hsl(197.03, 100%, 12.98%);

    --secondary: hsl(48, 89.041%, 57.059%);
    --secondary-foreground: hsl(48, 100%, 11.412%);

    --destructive: hsl(351.85, 73.636%, 56.863%);
    --destructive-foreground: hsl(260, 60%, 98.039%);

    --info: hsl(199.13, 86.957%, 63.922%);
    --info-foreground: hsl(257.45, 63.218%, 17.059%);

    --warn: hsl(48, 89.041%, 57.059%);
    --warn-foreground: hsl(257.45, 63.218%, 17.059%);

    --success: hsl(168.1, 74.233%, 68.039%);
    --success-foreground: hsl(257.45, 63.218%, 17.059%);

    --muted: hsl(253.85 59.091% 20.965%);
    --muted-foreground: hsl(260, 60%, 98.039%);

    --card: hsl(224, 71.4%, 4.1%);
    --card-foreground: hsl(210, 20%, 98%);

    --popover: hsl(224, 71.4%, 4.1%);
    --popover-foreground: hsl(210, 20%, 98%);

    --border: hsl(253.85, 59.091%, 25.882%);
    --input: hsl(215, 27.9%, 16.9%);
    --ring: hsl(216, 12.2%, 83.9%);
  }
}

.menu-transition {
  @apply transition-all duration-500;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
